version: '3.9'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    ports:
      - "3000:3000" # Map host port 3000 to container port 80 (Nginx)
    depends_on:
      - backend